
.img_light {
    width: 100px;
}

.float_right_switch {
    float: right;
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 33%;
}

.gray, #vue-app input:disabled {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
