/smart-home-android-client/_UtilsLibrary/build
/smart-home-android-client/app/build
/smart-home-android-client/.gradle
/smart-home-android-client/.idea
/smart-home-android-client/build
/smart-home-android-client/gradle
/smart-home-android-client/_MyLibrary/build
